.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fbfbfb;

  height: 435px;
  padding-top: 30px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.about-images {
  padding-left: 70px;
}

.about-image-first {
  position: relative;
  bottom: 80px;
}

.about-image-first:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.about-image-second {
  position: relative;
  top: 30px;
  left: 30px;
}

.about-image-second:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.about-image-third {
  position: relative;
  bottom: 50px;
}

.about-image-third:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.about-text {
  width: 370px;
  margin-top: 20px;
  margin-bottom: 20px;
}
