nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 30px 0 30px 0;
}

.logo {
  margin-right: 330px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin-right: 60px;
}

.link {
  color: #333333;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
